div {color:red;
    background:green;
     width 500px;
      height :300px;} 


      h1 {
          color: yellow;
      }
      .box {wisth: 700px;
   height:100px;
background:yellow;
color:blue} 

.secondbox {
color:brown;
box-shadow:0px opx 10px black
padding:10px;

}